h4{
  display: inline;
  font-size: 30px;
}

span{
  float: right;
  font-size: 20px;
}

p{
  font-size: 18px;
}

button{
  margin: 2px;
}

.btn-danger + div {
  text-align: right;
  display: inline-block;
  width: calc(100% - 190px);
}

.btn-danger + div .btn-danger {
  display: inline-block;
}

